<!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
<nav
  class="navbar navbar-expand-lg navbar-light bg-light"
>
<div class="m-0 p-0">
    <a class="navbar-brand ms-5 d-flex align-items-center" href="/">
    <img src="/images/favicon.png" alt="Logo" width="24" height="24" class="d-inline-block align-text-top"/>
        Home
    </a>
</div>
  <button
    class="navbar-toggler me-5"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ms-5">
      <li class="nav-item">
        <a class="nav-link" href="/transfer">Transfer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/transactionHistory">History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/transact">Deposit / Withdraw</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/changePassword">Change Password</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/managePermissions">Manage Permisions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log out</a>
      </li>
    </ul>
  </div>

</nav>
