<!DOCTYPE html>
<html>
  <head>
    <title>Change Password</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Change Password</h1>
    <p>Welcome to change password. This is were admins can change a persons password.</p>
    <p>They will enter a account number and a new password, and confirm new passord. Then the account will have that new password.</p>

  </body>
</html>
