<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <li><a href="/login">login</a></li>
    <li><a href="/landingPage">landingPage</a></li>
    <li><a href="/transactionHistory">transactionHistory</a></li>
    <li><a href="/transfer">transfer</a></li>
    <li><a href="/transact">transact</a></li>
    <li><a href="/register">register</a></li>
    <li><a href="/changePassword">changePassword</a></li>
    <li><a href="/managePermissions">managePermissions</a></li>
  </body>
</html>
