<!DOCTYPE html>
<html>
  <head>
    <title>title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Landing</h1>
    <p>Welcome to landing page. This is what is viewed after a cutomer logins in.</p>
    <p>It will have two buttons which they can click to go to there transaction history of <a href="/transactionHistory">savings</a> or <a href="/transactionHistory">checking</a></p>
    <p>It will also have a link to go to the <a href="/transfer">transfer page</a></p>

    <div><span>Checking $0.00</span> <span>Checking $100.03</span></div>

    <h2>Employee Links</h2>
    <ul>
      <li><a href="transact">Transact (deposit / withdraw)</a></li>
      <li><a href="/register">Register new user</a></li>

    </ul>
    
    <h2>Admin Links</h2>
    <ul>
      <li><a href="managePermissions">manage (permissions)</a></li>
      <li><a href="changePassword">Change Password</a></li>

    </ul>
  </body>
</html>
