<!DOCTYPE html>
<html>
  <head>
    <title>title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Landing</h1>
    <p>Welcome to landing page. This is what is viewed after a cutomer logins in.</p>
    <p>It will have two buttons which they can click to go to there transaction history of <a href="/transactionHistory">savings</a> or <a href="/transactionHistory">checking</a></p>
    <p>It will also have a link to go to the <a href="/transactionPage">transaction page</a></p>

  </body>
</html>
