<!DOCTYPE html>
<html>
  <head>
    <title>Manage Results</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    Some sort of webpage here to manage results.
  </body>
</html>
