<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bootstrap 5 Login Form Example</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font/bootstrap-icons.css" />
    <%- include('partials/favico') %>
  </head>

  <body>
    <div class="container-fluid vh-100" style="margin-top: 10px">
      <div class="" style="margin-top: 100px">
        <div class="rounded d-flex justify-content-center">
          <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
            <div class="text-center">
              <h3 class="text-primary">Bank</h3>
              <h3 class="text-primary">Register New Account</h3>
            </div>
            <div class="text-center">
                <h4>SUCCESS!</h4>
            </div>
            <div>
              <p id="message" class="text-main" style="height: 25px">
                <%- locals.message %>
              </p>
              <h5 id="message" class="text-main text-center" style="height: 25px">
                <%- locals.accountNumber %>
              </h5>
            </div>
            <div class="row">
                <div class="col-6 d-flex justify-content-center align-items-start"><a href="/register" class="btn btn-primary">Register</a></div>
                <div class="col-6 d-flex justify-content-center align-items-start"><a href="/" class="btn btn-primary">Main Menu</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
