<!DOCTYPE html>
<html>
  <head>
    <title>Transact</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Transact</h1>
    <p>Welcome to</p>
  </body>
</html>
