<!DOCTYPE html>
<html>
  <head>
    <title>Transact</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Transact</h1>
    <p>Welcome to the transact page. This is were an employee will deposit or withdraw money.</p>
    <p>They will inperson verify it is them</p>
    <p>Then they will enter a form with the account number, which type (savings / checking), withdraw / deposit, and an amount</p>
  </body>
</html>
