<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap 5 Login Form Example</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font/bootstrap-icons.css" />
    <%- include('partials/favico') %>

    <script>
        function checkPassword(event) {}
    </script>

</head>

<body>
    <div class="container-fluid vh-100" style="margin-top:10px">
        <div class="" style="margin-top:100px">
            <div class="rounded d-flex justify-content-center">
                <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                    <div class="text-center">
                        <h3 class="text-primary">Bank</h3>
                        <h4 class="text-primary">Transfer</h4>
                    </div>
                    <form onSubmit="return checkPassword(event);" method="post">
                        <div class="p-4">

                            <!-- From -->
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-primary">
                                    <i class="bi bi-bank text-white"></i>
                                </span>
                                <select id="fromAccount" name="fromAccount" class="form-select" required>
                                    <option hidden disabled selected value> -- From Account -- </option>
                                    <option value="checking">Checking</option>
                                    <option value="savings">Savings</option>
                                </select>
                            </div>

                                <!-- To -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text bg-primary">
                                        <i class="bi bi-wallet text-white"></i>
                                    </span>
                                    <input id="toAccount" name="toAccount" type="text" class="form-control"
                                        placeholder="To Account">
                                </div>

                                <!-- Select Amount -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text bg-primary">
                                        <i class="bi bi-currency-dollar text-white"></i>
                                    </span>
                                    <input id="amount" name="amount" type="number" min="1" step="any" class="form-control"
                                        placeholder="Amount">
                                </div>

                                <!-- Memo -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text bg-primary">
                                        <i class="bi bi-card-text text-white"></i>
                                    </span>
                                    <input id="memo" name="memo" type="text" class="form-control"
                                        placeholder="Memo">
                                </div>

                            <!-- This is the password that gets sent even though they are hidden -->
                            <div class="text-center">
                                <button class="btn btn-primary text-center mt-2" type="submit">
                                    Send Funds
                                </button>
                            </div>
                            <% if (typeof message != 'undefined') { %>
                                <div class="text-center" style="height:25px"><%=message%> </div>
                                    <% } %>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>