<!DOCTYPE html>
<html>
  <head>
    <title>Transfer</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Transfer</h1>
    <p>Welcome to the transfer page. This is were a cusomter will send money to another account.</p>
    <p>They will fill out a form with wich acount to take it from (savings / checking), to account number, an amount, and optonaily a memo</p>
  </body>
</html>
